<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox"/>
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="#"><li>HOME</li></a>
      <a href="#"><li>WORK</li></a>
      <a href="#"><li>WHAT I DO</li></a>
      <a href="#"><li>ABOUT</li></a>
      <a href="#"><li>CONTACT</li></a>
    </ul>
  </div>
</nav>
