/// top image

.project-page-unchienenville {
  padding: 50px 50px 0 50px;
  background-color: #FCEFEB;
  height: 100%;
}

.project-intro-image-unchienenville {
  background: linear-gradient(180deg, #FCEFEB 80%, #F8F8F8 60%);
  padding: 50px 0 50px 0;
}

.project-intro-image-unchienenville img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

///

.moodboard-unchienenville {
  background-color: #FFFFFF;
  padding: 100px 100px 100px 100px;
}

.moodboard-unchienenville-img {
  background-color: #F8F8F8;
}

.moodboard-unchienenville-img img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

///

.research-unchienenville {
  background-color: #F8F8F8;
  padding: 50px 0 50px 0;
}

.research-unchienenville img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

///

.popup {
  display: grid;
  row-gap: 100px;
}
