<%= render 'components/navbar' %>

<div class="fade-in-bottom">

  <div class="page-about">
    <div class="container-about">
      <div class="about-profilepic">
        <img src="assets/profilepic.png" width="60%">
      </div>
      <div class="about-intro">
        <h1>I'm Margaux, a positive</h1>
        <h1><span class="and">and</span> creative mind.</h1>
      </div>
      <div class="about-description">
        <p>Passionate about innovation, well organized person, problem solver
        with high attention to detail. Last year business student in<br>
        MSc digital marketing & sales at Kedge BS,
        double degree in full stack web development with Le Wagon.</p>
        <p>I like to keep learning, challenge myself, work independently from home or as part of a team.
        I like traveling, surfing, dancing, swimming, nature, music and art.</p>
        <p>Looking for new opportunities in Digital marketing or UX/UI design,
        I'm now available and highly motivated to join a dynamic team!</p>
      </div>
    </div>

    <%= link_to contact_path do %>
      <button class="btn btn-about btn-resume">MY RESUME</button>
    <% end %>
    <a href="mailto:margauxxlegall@gmail.com?subject= Contact request" target="_blank">
      <button class="btn btn-about btn-hireme">HIRE ME</button>
    </a>
  </div>

  <div class="rows">
    <div class="row">
      <img class="picture" src="assets/pictures/AA.jpg">
    </div>

    <div class="row">
      <img class="picture" src="assets/pictures/BA.jpg">
      <img class="picture" src="assets/pictures/BB.jpg">
      <img class="picture" src="assets/pictures/BC.jpg">
      <video class="picture" playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
        <source src="assets/pictures/BD.mov" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="assets/pictures/BD.mov" type='video/webm; codecs="vp8, vorbis"'>
        <source src="assets/pictures/BD.mov" type='video/ogg; codecs="theora, vorbis"'>
      </video>
      <img class="picture" src="assets/pictures/BE.jpg">
    </div>

    <div class="row">
      <img class="picture" src="assets/pictures/CA.jpg">
      <img class="picture" src="assets/pictures/CB.jpg">
      <video class="picture" playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
        <source src="assets/pictures/CC.mov" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="assets/pictures/CC.mov" type='video/webm; codecs="vp8, vorbis"'>
        <source src="assets/pictures/CC.mov" type='video/ogg; codecs="theora, vorbis"'>
      </video>
      <img class="picture" src="assets/pictures/CD.jpg">
      <img class="picture" src="assets/pictures/CE.jpg">
      <img class="picture" src="assets/pictures/CF.jpg">
      <img class="picture" src="assets/pictures/CG.jpg">
    </div>

    <div class="row">
      <video class="picture" playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
        <source src="assets/pictures/DA.mov" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="assets/pictures/DA.mov" type='video/webm; codecs="vp8, vorbis"'>
        <source src="assets/pictures/DA.mov" type='video/ogg; codecs="theora, vorbis"'>
      </video>
      <img class="picture" src="assets/pictures/DB.jpg">
      <img class="picture" src="assets/pictures/DC.jpg">
      <img class="picture" src="assets/pictures/DD.jpg">
      <img class="picture" src="assets/pictures/DE.jpg">
      <video class="picture" playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
        <source src="assets/pictures/DF.mov" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="assets/pictures/DF.mov" type='video/webm; codecs="vp8, vorbis"'>
        <source src="assets/pictures/DF.mov" type='video/ogg; codecs="theora, vorbis"'>
      </video>
      <img class="picture" src="assets/pictures/DG.jpg">
    </div>

    <div class="row">
      <img class="picture" src="assets/pictures/EA.jpg">
      <video class="picture" playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
        <source src="assets/pictures/EB.mov" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="assets/pictures/EB.mov" type='video/webm; codecs="vp8, vorbis"'>
        <source src="assets/pictures/EB.mov" type='video/ogg; codecs="theora, vorbis"'>
      </video>
      <img class="picture" src="assets/pictures/EC.jpg">
      <img class="picture" src="assets/pictures/ED.jpg">
      <img class="picture" src="assets/pictures/EF.jpg">
    </div>

    <div class="row">
      <img class="picture" src="assets/pictures/FA.jpg">
    </div>
  </div>

  <%= render 'components/footer' %>
</div>
