<%= render 'components/navbar' %>

<div class="fade-in-bottom">

  <div class="page-about">
    <div class="container-about">
      <div class="about-profilepic">
        <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687559/portfolio/about/profilepic_fsactz.png" width="60%">
      </div>
      <div class="about-intro">
        <h1>I'm Margaux, a positive</h1>
        <h1><span class="and">and</span> creative mind.</h1>
      </div>
      <div class="about-description">
        <p>Passionate about innovation, well organized person, problem solver
        with high attention to detail. Last year business student in<br>
        MSc digital marketing & sales at Kedge BS,
        double degree in full stack web development with Le Wagon.</p>
        <p>I like to keep learning, challenge myself, work independently from home or as part of a team.
        I like traveling, surfing, dancing, swimming, nature, music and art.</p>
        <p>Looking for new opportunities in Digital marketing or UX/UI design,
        I'm now available and highly motivated to join a dynamic team!</p>
      </div>
    </div>

    <%= link_to contact_path do %>
      <button class="btn btn-about btn-resume">MY RESUME</button>
    <% end %>
    <a href="mailto:margauxxlegall@gmail.com?subject= Contact request" target="_blank">
      <button class="btn btn-about btn-hireme">HIRE ME</button>
    </a>
  </div>

  <div class="rows">
    <div class="row">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684342/portfolio/about/AA_lyoov8.jpg">
    </div>

    <div class="row">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684351/portfolio/about/BA_pwxbcr.jpg">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599685568/portfolio/about/BB_mgg0bm.jpg">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599685821/portfolio/about/BC_n3qf8k.jpg">
      <video class="picture" playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599684636/portfolio/about/BD_dis5z8.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599684636/portfolio/about/BD_dis5z8.mp4" type='video/webm; codecs="vp8, vorbis"'>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599684636/portfolio/about/BD_dis5z8.mp4" type='video/ogg; codecs="theora, vorbis"'>
      </video>
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684339/portfolio/about/BE_rqzvya.jpg">
    </div>

    <div class="row">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684600/portfolio/about/CA_f92ner.jpg">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684351/portfolio/about/CB_bnkpxy.jpg">
      <video class="picture" playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599687372/portfolio/about/CC_ieb7mo.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599687372/portfolio/about/CC_ieb7mo.mp4" type='video/webm; codecs="vp8, vorbis"'>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599687372/portfolio/about/CC_ieb7mo.mp4" type='video/ogg; codecs="theora, vorbis"'>
      </video>
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684370/portfolio/about/CD_lpzoal.jpg">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599685553/portfolio/about/CE_svaqpa.jpg">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684616/portfolio/about/CF_hv5ele.jpg">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684634/portfolio/about/CG_whhjie.jpg">
    </div>

    <div class="row">
      <video class="picture" playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599685856/portfolio/about/DA_ctl6vy.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599685856/portfolio/about/DA_ctl6vy.mp4" type='video/webm; codecs="vp8, vorbis"'>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599685856/portfolio/about/DA_ctl6vy.mp4" type='video/ogg; codecs="theora, vorbis"'>
      </video>
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684719/portfolio/about/DB_lt1wcs.jpg">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684649/portfolio/about/DC_ouemqs.jpg">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684655/portfolio/about/DD_bp2e6y.jpg">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684804/portfolio/about/DE_cv3yfc.jpg">
      <video class="picture" playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599684812/portfolio/about/DF_fgzqdl.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599684812/portfolio/about/DF_fgzqdl.mp4" type='video/webm; codecs="vp8, vorbis"'>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599684812/portfolio/about/DF_fgzqdl.mp4" type='video/ogg; codecs="theora, vorbis"'>
      </video>
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684816/portfolio/about/DG_ixql1f.jpg">
    </div>

    <div class="row">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684822/portfolio/about/EA_byiumy.jpg">
      <video class="picture" playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599684960/portfolio/about/EB_rvvuzl.mov" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599684960/portfolio/about/EB_rvvuzl.mov" type='video/webm; codecs="vp8, vorbis"'>
        <source src="https://res.cloudinary.com/lololegall/video/upload/v1599684960/portfolio/about/EB_rvvuzl.mov" type='video/ogg; codecs="theora, vorbis"'>
      </video>
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599685011/portfolio/about/EC_c6zsat.jpg">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599684965/portfolio/about/ED_nq6owv.jpg">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599685456/portfolio/about/EF_iloqt6.jpg">
    </div>

    <div class="row">
      <img class="picture" src="https://res.cloudinary.com/lololegall/image/upload/v1599685045/portfolio/about/FA_xpqrx6.jpg">
    </div>
  </div>

  <%= render 'components/footer' %>
</div>
