<%= render 'components/navbar' %>

<div class="fade-in-bottom">

  <div class="page-contact">
    <div class="email">
      <a href="mailto:margauxxlegall@gmail.com?subject= Contact request" target="_blank">
        <h1>margauxxlegall@gmail.com</h1>
      </a>
    </div>
    <div class="read-resume-here">
      <h3>Read my resume here:</h3>
    </div>
    <div class="resume">
      <div class="resume-pdf-en">
        <a href="https://drive.google.com/file/d/1BttS5R9GYVrEu5BvovfYo5Le8mTxK_lc/view?usp=sharing" target="_blank">
          <h2>PDF (ENGLISH)</h2>
        </a>
      </div>
      <div class="resume-linkedin">
        <a href="https://www.linkedin.com/in/margaux-le-gall/?locale=en_US" target="_blank">
          <h2>LINKEDIN</h2>
        </a>
      </div>
      <div class="resume-pdf-fr">
        <a href="https://drive.google.com/file/d/1CC92aFT7Ol2ha3LfJk4o0nVpucbU0jJ-/view?usp=sharing" target="_blank">
          <h2>PDF (FRENCH)</h2>
        </a>
      </div>
    </div>
    <img id="contact-logo" src="https://res.cloudinary.com/lololegall/image/upload/v1599683329/portfolio/M2_z7o3qo.png" width="5%" alt="Margaux Le Gall">
  </div>

  <%= render 'components/footer' %>
</div>
