<%= render 'components/navbar' %>

<div class="project-page-defiwind">

  <div class="fade-in-bottom">
    <div class="project-intro-image-defiwind">
      <img src="assets/defiwind/intro-defiwind.png">
    </div>

    <div class="project-arrow-defiwind">
      <a href="#app">
        <img src="assets/arrow.png">
      </a>
    </div>
  </div>

  <div id="app">
    <div class="project-title-defiwind">
      <h1>Défi Wind:</h1>
      <h1><span class="under-line">Mobile App</span></h1>
    </div>
  </div>

  <div class="project-description-defiwind">
    <p>Make as many people as possible, all categories included, navigate at the same time.
      This has been the original idea since 2001, and it is now a successful challenge.
      The Défi Wind is the biggest windsurfing event worldwide.
      In a team of four, we developed and deployed in just two weeks a mobile application
      for this unique event.
    </p>
  </div>

  <div class="video-defiwind">
    <video playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
      <source src="assets/defiwind/defiwind-video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <source src="assets/defiwind/defiwind-video.mp4" type='video/webm; codecs="vp8, vorbis"'>
      <source src="assets/defiwind/defiwind-video.mp4" type='video/ogg; codecs="theora, vorbis"'>
    </video>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Re<span class="under-line-subtitle">sear</span>ch</h1>
      <p>With a user-centric vision, using tools such as UX persona and user journey,
        we wanted to create an application for the Défieurs, the competitors who are passionate about windsurfing,
        and who get together every year to enjoy the wind and have a lot of fun.
      </p>
    </div>
  </div>

  <div class="research-defiwind">
    <img src="assets/defiwind/defiwind1.png">
    <img src="assets/defiwind/defiwind2.png">
    <img src="assets/defiwind/defiwind3.png">
    <img src="assets/defiwind/defiwind4.png">
    <img src="assets/defiwind/defiwind5.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Dev<span class="under-line-subtitle">elopm</span>ent</h1>
      <p>Just two weeks for such a project was a huge challenge for us junior developers.
        We had to develop a responsive mobile application from A to Z,
        from the back-end to the front-end. We used the Ruby on Rails framework,
        the Model-View-Controller or MVC software architecture pattern,
        as well as the Ruby, HTML5, CSS and JavaScript languages.</p>
    </div>
  </div>

  <div class="dev-defiwind">
    <img src="assets/defiwind/database-scheme-defiwind.png">
    <img src="assets/defiwind/2view-defiwind.png">
    <img src="assets/defiwind/1model-defiwind.png">
    <img src="assets/defiwind/3controller-defiwind.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>In<span class="under-line-subtitle">terfa</span>ce</h1>
      <p>During these two weeks, we wanted to focus mainly on the user experience
      and therefore established a fluid and simple interface.</p>
    </div>
  </div>

  <div class="interface-defiwind">
    <img src="assets/defiwind/homepage-defiwind.png">
    <img src="assets/defiwind/program-defiwind.png">
    <img src="assets/defiwind/weather-defiwind.png">
    <img src="assets/defiwind/ranking-defiwind.png">
    <img src="assets/defiwind/profile-defiwind.png">
    <div class="popup">
      <img src="assets/defiwind/responsive-ipad-defiwind.png">
      <img src="assets/defiwind/responsive-mobile-defiwind.png">
    </div>
  </div>

</div>

<%= render 'components/footerlight' %>
