<%= render 'components/navbar' %>

<div class="project-page-margalou">

  <div class="fade-in-bottom">
    <div class="project-intro-image">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687789/portfolio/margalou/intro-margalou_zhshed.png">
    </div>

    <div class="project-arrow">
      <a href="#website">
        <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683280/portfolio/arrow_l655s7.png">
      </a>
    </div>
  </div>

  <div id="website">
    <div class="project-title">
      <h1>Margalou:</h1>
      <h1><span class="under-line">Website</span></h1>
    </div>
  </div>

  <div class="project-description">
    <p>Margalou is a small family brand, produced locally in France,
      using refined, trendy and quality materials.
      They are recycled or carefully chosen in Marseille or during a trip.
      Passionate about beautiful materials, the designer has been designing and making bags,
      pouches and linens since 2017.
      Of Mediterranean inspiration, each creation is a unique model entirely handmade,
      made of linen, leather and fabric.</p>
  </div>

  <div class="video">
    <video playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599733330/portfolio/margalou/margalou-video2_a3ropd.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599733330/portfolio/margalou/margalou-video2_a3ropd.mp4" type='video/webm; codecs="vp8, vorbis"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599733330/portfolio/margalou/margalou-video2_a3ropd.mp4" type='video/ogg; codecs="theora, vorbis"'>
    </video>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Br<span class="under-line-subtitle">andi</span>ng</h1>
      <p>Elegance, beach, sport, simplicity. Margalou products are made to be worn on the beach as well as in the city,
        to go for a tea on the terrace after a surf session, skin satinized by the sun and hair still salty.
        Marseille, Biarritz, Santa Barbara, all these cities are linked by the call of the sea and the nature.</p>
    </div>
  </div>

  <div class="moodboard">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690066/portfolio/margalou/mood-board-margalou_ngqjjg.png">
  </div>

  <div class="brand">
    <div class="branding">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687762/portfolio/margalou/logo-margalou_k3xltg.png">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687751/portfolio/margalou/icons-margalou_bbicpg.png">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687749/portfolio/margalou/color-palette-margalou_rexqnb.png">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687988/portfolio/margalou/typography-margalou_cynfzr.png">
    </div>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Re<span class="under-line-subtitle">sear</span>ch</h1>
      <p>Market analysis, user persona, user journey, gestalt principles, rules of design, tree testing, card sorting, eye tracking.
      Every tool helped a lot to make the website as optimal as possible for users.</p>
    </div>
  </div>

  <div class="userpersona">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599688169/portfolio/margalou/user-persona-margalou_yoaqol.png">
  </div>

  <div class="eyetracking">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687769/portfolio/margalou/eye-tracking-one-margalou_b18eho.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687775/portfolio/margalou/eye-tracking-two-margalou_mrafqj.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687758/portfolio/margalou/eye-tracking-three-margalou_tpjh1f.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>In<span class="under-line-subtitle">terfa</span>ce</h1>
      <p>I wanted to make a design that perfectly reflects the brand identity.
        My goal was to create an emotional and attractive moment to our users
        with a chic, stylish, Mediterranean style that would truly speak to the users' personalities.</p>
    </div>
  </div>

  <div class="proto">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690375/portfolio/margalou/home-page-margalou_dd3y2o.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690507/portfolio/margalou/product-listing-page-margalou_inf47y.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599687971/portfolio/margalou/product-page-margalou_g9rico.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690584/portfolio/margalou/about-page-margalou_sap5k7.png">
  </div>

</div>

<%= render 'components/footer' %>
