<%= render 'components/navbar' %>

<div class="project-page-margalou">

  <div class="fade-in-bottom">
    <div class="project-intro-image">
      <img src="assets/margalou/intro-margalou.png">
    </div>

    <div class="project-arrow">
      <a href="#website">
        <img src="assets/arrow.png">
      </a>
    </div>
  </div>

  <div id="website">
    <div class="project-title">
      <h1>Margalou:</h1>
      <h1><span class="under-line">Website</span></h1>
    </div>
  </div>

  <div class="project-description">
    <p>Margalou is a small family brand, produced locally in France,
      using refined, trendy and quality materials.
      They are recycled or carefully chosen in Marseille or during a trip.
      Passionate about beautiful materials, the designer has been designing and making bags,
      pouches and linens since 2017.
      Of Mediterranean inspiration, each creation is a unique model entirely handmade,
      made of linen, leather and fabric.</p>
  </div>

  <div class="video">
    <video playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
      <source src="assets/margalou/margalou-video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <source src="assets/margalou/margalou-video.mp4" type='video/webm; codecs="vp8, vorbis"'>
      <source src="assets/margalou/margalou-video.mp4" type='video/ogg; codecs="theora, vorbis"'>
    </video>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Br<span class="under-line-subtitle">andi</span>ng</h1>
      <p>Elegance, beach, sport, simplicity. Margalou products are made to be worn on the beach as well as in the city,
        to go for a tea on the terrace after a surf session, skin satinized by the sun and hair still salty.
        Marseille, Biarritz, Santa Barbara, all these cities are linked by the call of the sea and the nature.</p>
    </div>
  </div>

  <div class="moodboard">
    <img src="assets/margalou/mood-board-margalou.png">
  </div>

  <div class="brand">
    <div class="branding">
      <img src="assets/margalou/logo-margalou.png">
      <img src="assets/margalou/icons-margalou.png">
      <img src="assets/margalou/color-palette-margalou.png">
      <img src="assets/margalou/typography-margalou.png">
    </div>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Re<span class="under-line-subtitle">sear</span>ch</h1>
      <p>Market analysis, user persona, user journey, gestalt principles, rules of design, tree testing, card sorting, eye tracking.
      Every tool helped a lot to make the website as optimal as possible for users.</p>
    </div>
  </div>

  <div class="userpersona">
    <img src="assets/margalou/user-persona-margalou.png">
  </div>

  <div class="eyetracking">
    <img src="assets/margalou/eye-tracking-one-margalou.png">
    <img src="assets/margalou/eye-tracking-two-margalou.png">
    <img src="assets/margalou/eye-tracking-three-margalou.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>In<span class="under-line-subtitle">terfa</span>ce</h1>
      <p>I wanted to make a design that perfectly reflects the brand identity.
        My goal was to create an emotional and attractive moment to our users
        with a chic, stylish, Mediterranean style that would truly speak to the users' personalities.</p>
    </div>
  </div>

  <div class="proto">
    <img src="assets/margalou/home-page-margalou.png">
    <img src="assets/margalou/product-listing-page-margalou.png">
    <img src="assets/margalou/product-page-margalou.png">
    <img src="assets/margalou/about-page-margalou.png">
  </div>

</div>

<%= render 'components/footer' %>
