<%= render 'components/navbar' %>

<div class="project-page-sucresale">

  <div class="fade-in-bottom">
    <div class="project-intro-image-sucresale">
      <img src="assets/sucresale/intro-sucresale.png">
    </div>

    <div class="project-arrow">
      <a href="#responsive-website">
        <img src="assets/arrow.png">
      </a>
    </div>
  </div>

  <div id="responsive-website">
    <div class="project-title">
      <h1>Sucré Salé:</h1>
      <h1><span class="under-line">Respon</span>sive Website</h1>
    </div>
  </div>

  <div class="project-description">
    <p>Sucré Salé, since 2019, by the French designer Lola Breton.
    She creates handmade fine lingerie - bras - in La Ciotat, in France,
    a piece of heaven in Mediterranean.<br>
    For her, undergarments should be clothes in their own right,
    worn in the city as well as on the beach, as a hybrid piece.
    They’re made for women.
    Feminine and sporty, the brand was created for sea and nature lover, also city dweller.
    </p>
  </div>

  <div class="video">
    <video playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
      <source src="assets/sucresale/sucresale-laptop-video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <source src="assets/sucresale/sucresale-laptop-video.mp4" type='video/webm; codecs="vp8, vorbis"'>
      <source src="assets/sucresale/sucresale-laptop-video.mp4" type='video/ogg; codecs="theora, vorbis"'>
    </video>
  </div>

  <div class="video-mobile">
    <video playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
      <source src="assets/sucresale/sucresale-mobile-video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <source src="assets/sucresale/sucresale-mobile-video.mp4" type='video/webm; codecs="vp8, vorbis"'>
      <source src="assets/sucresale/sucresale-mobile-video.mp4" type='video/ogg; codecs="theora, vorbis"'>
    </video>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>St<span class="under-line-subtitle">rate</span>gy</h1>
    </div>
  </div>

  <div class="diapo diapo-right">
    <img src="assets/sucresale/sucresale1.png">
  </div>

  <div class="diapo diapo-right">
    <img src="assets/sucresale/sucresale2.png">
  </div>

  <div class="diapo diapo-right">
    <img src="assets/sucresale/sucresale3.png">
  </div>

  <div class="diapo diapo-right">
    <img src="assets/sucresale/sucresale4.png">
  </div>

  <div class="two-mobiles">
    <img src="assets/sucresale/sucresale-mobile-two.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Ma<span class="under-line-subtitle">rketi</span>ng</h1>
    </div>
  </div>

  <div class="diapo diapo-left">
    <img src="assets/sucresale/sucresale5.png">
  </div>

  <div class="diapo diapo-left">
    <img src="assets/sucresale/sucresale6.png">
  </div>

  <div class="diapo diapo-left">
    <img src="assets/sucresale/sucresale7.png">
  </div>

  <div class="diapo diapo-left">
    <img src="assets/sucresale/sucresale8.png">
  </div>

  <div class="diapo diapo-left">
    <img src="assets/sucresale/sucresale9.png">
  </div>

  <div class="diapo diapo-left">
    <img src="assets/sucresale/sucresale10.png">
  </div>

  <div class="diapo diapo-left">
    <img src="assets/sucresale/sucresale11.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>In<span class="under-line-subtitle">terfa</span>ce</h1>
    </div>
  </div>

  <div class="proto">
    <img src="assets/sucresale/sucresale-laptop.png">
    <div class="mobile-proto">
      <img src="assets/sucresale/sucresale-mobile.png">
    </div>
  </div>

</div>

<%= render 'components/footer' %>
