<%= render 'components/navbar' %>

<div class="project-page-sucresale">

  <div class="fade-in-bottom">
    <div class="project-intro-image-sucresale">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691431/portfolio/sucr%C3%A9%20sal%C3%A9/intro-sucresale_cbhu4w.png">
    </div>

    <div class="project-arrow">
      <a href="#responsive-website">
        <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683280/portfolio/arrow_l655s7.png">
      </a>
    </div>
  </div>

  <div id="responsive-website">
    <div class="project-title">
      <h1>Sucré Salé:</h1>
      <h1><span class="under-line">Respon</span>sive Website</h1>
    </div>
  </div>

  <div class="project-description">
    <p>Sucré Salé, since 2019, by the French designer Lola Breton.
    She creates handmade fine lingerie - bras - in La Ciotat, in France,
    a piece of heaven in Mediterranean.<br>
    For her, undergarments should be clothes in their own right,
    worn in the city as well as on the beach, as a hybrid piece.
    They’re made for women.
    Feminine and sporty, the brand was created for sea and nature lover, also city dweller.
    </p>
  </div>

  <div class="video">
    <video playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599728560/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale-laptop-video2_egohix.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599728560/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale-laptop-video2_egohix.mp4" type='video/webm; codecs="vp8, vorbis"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599728560/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale-laptop-video2_egohix.mp4" type='video/ogg; codecs="theora, vorbis"'>
    </video>
  </div>

  <div class="video-mobile">
    <video playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599728690/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale-mobile-video2_aggdoz.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599728690/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale-mobile-video2_aggdoz.mp4" type='video/webm; codecs="vp8, vorbis"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599728690/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale-mobile-video2_aggdoz.mp4" type='video/ogg; codecs="theora, vorbis"'>
    </video>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>St<span class="under-line-subtitle">rate</span>gy</h1>
    </div>
  </div>

  <div class="diapo diapo-right">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691389/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale1_osz2qz.png">
  </div>

  <div class="diapo diapo-right">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691347/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale2_ijrfjz.png">
  </div>

  <div class="diapo diapo-right">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691361/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale3_hrpqtl.png">
  </div>

  <div class="diapo diapo-right">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691381/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale4_nuicuj.png">
  </div>

  <div class="two-mobiles">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691454/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale-mobile-two_j5cvkq.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Ma<span class="under-line-subtitle">rketi</span>ng</h1>
    </div>
  </div>

  <div class="diapo diapo-left">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691423/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale5_ckmnun.png">
  </div>

  <div class="diapo diapo-left">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691439/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale6_g4zdol.png">
  </div>

  <div class="diapo diapo-left">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691409/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale7_lgte4r.png">
  </div>

  <div class="diapo diapo-left">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691397/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale8_ejxgbi.png">
  </div>

  <div class="diapo diapo-left">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691419/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale9_hzpzkc.png">
  </div>

  <div class="diapo diapo-left">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691432/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale10_itnxog.png">
  </div>

  <div class="diapo diapo-left">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691459/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale11_ag0b6d.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>In<span class="under-line-subtitle">terfa</span>ce</h1>
    </div>
  </div>

  <div class="proto">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691545/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale-laptop_meqyb3.png">
    <div class="mobile-proto">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691381/portfolio/sucr%C3%A9%20sal%C3%A9/sucresale-mobile_ww7bsp.png">
    </div>
  </div>

</div>

<%= render 'components/footer' %>
