<%= render 'components/navbar' %>

<div class="project-page-unchienenville">

  <div class="fade-in-bottom">
    <div class="project-intro-image-unchienenville">
      <img src="assets/unchienenville/intro-unchienenville.png">
    </div>

    <div class="project-arrow">
      <a href="#website">
        <img src="assets/arrow.png">
      </a>
    </div>
  </div>

  <div id="website">
    <div class="project-title">
      <h1>Un chien en ville:</h1>
      <h1><span class="under-line">Website</span></h1>
    </div>
  </div>

  <div class="project-description">
    <p>Un chien en ville is an online commerce offering a large choice of clothes for dogs,
      made for dog lovers. As a scrum team,
      we worked with an agile method by opting for a marketing and design approach
      to redesign the website.
      Our purpose was to develop the brand's visibility and to develop a dog lovers community.
    </p>
  </div>

  <div class="video">
    <video playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
      <source src="assets/unchienenville/unchienenville-video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <source src="assets/unchienenville/unchienenville-video.mp4" type='video/webm; codecs="vp8, vorbis"'>
      <source src="assets/unchienenville/unchienenville-video.mp4" type='video/ogg; codecs="theora, vorbis"'>
    </video>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Br<span class="under-line-subtitle">andi</span>ng</h1>
      <p>To express the feminine but elegant brand tonality,
        I chose a very simple color palette. The design is soft, classy and aesthetic
        to best represent the website and its high-end products.
      </p>
    </div>
  </div>

  <div class="moodboard-unchienenville">
    <div class="moodboard-unchienenville-img">
      <img src="assets/unchienenville/mood-board-unchienenville.png">
    </div>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Re<span class="under-line-subtitle">sear</span>ch</h1>
      <p>Product vision, user persona, impact map, user journey, product roadmap.
      Every tool helped a lot to make the website as optimal as possible for users.</p>
    </div>
  </div>

  <div class="research-unchienenville">
    <img src="assets/unchienenville/product-vision-unchienenville.png">
  </div>

  <div class="research-unchienenville">
    <img src="assets/unchienenville/user-persona-unchienenville.png">
  </div>

  <div class="research-unchienenville">
    <img src="assets/unchienenville/impact-map-unchienenville.png">
  </div>

  <div class="research-unchienenville">
    <img src="assets/unchienenville/user-journey-unchienenville.png">
  </div>

  <div class="research-unchienenville">
    <img src="assets/unchienenville/product-roadmap-unchienenville.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>In<span class="under-line-subtitle">terfa</span>ce</h1>
      <p>The project was carried out in two sprints.
        I firstly redesigned all the website and its basic features,
        making it clear, easy to use and attractive with a new visual identity,
        simple and aesthetic.
        Then, I wanted to improve the user experience through customization, suggestions,
        communication and e-reputation</p>
    </div>
  </div>

  <div class="proto">
    <img src="assets/unchienenville/home-page-unchienenville.png">
    <img src="assets/unchienenville/product-listing-page-unchienenville.png">
    <img src="assets/unchienenville/product-page-unchienenville.png">
    <div class="popup">
      <img src="assets/unchienenville/offer-as-a-gift-pop-up-unchienenville.png">
      <img src="assets/unchienenville/added-to-your-cart-pop-up-unchienenville.png">
    </div>
  </div>

</div>

<%= render 'components/footer' %>
