<%= render 'components/navbar' %>

<div class="project-page-unchienenville">

  <div class="fade-in-bottom">
    <div class="project-intro-image-unchienenville">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690850/portfolio/un%20chien%20en%20ville/intro-unchienenville_wmexzg.png">
    </div>

    <div class="project-arrow">
      <a href="#website">
        <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683280/portfolio/arrow_l655s7.png">
      </a>
    </div>
  </div>

  <div id="website">
    <div class="project-title">
      <h1>Un chien en ville:</h1>
      <h1><span class="under-line">Website</span></h1>
    </div>
  </div>

  <div class="project-description">
    <p>Un chien en ville is an online commerce offering a large choice of clothes for dogs,
      made for dog lovers. As a scrum team,
      we worked with an agile method by opting for a marketing and design approach
      to redesign the website.
      Our purpose was to develop the brand's visibility and to develop a dog lovers community.
    </p>
  </div>

  <div class="video">
    <video playsinline="" muted="yes" onplaying="this.controls=false" autoplay loop>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599734042/portfolio/un%20chien%20en%20ville/unchienenville-video2_vijivn.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599734042/portfolio/un%20chien%20en%20ville/unchienenville-video2_vijivn.mp4" type='video/webm; codecs="vp8, vorbis"'>
      <source src="https://res.cloudinary.com/lololegall/video/upload/v1599734042/portfolio/un%20chien%20en%20ville/unchienenville-video2_vijivn.mp4" type='video/ogg; codecs="theora, vorbis"'>
    </video>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Br<span class="under-line-subtitle">andi</span>ng</h1>
      <p>To express the feminine but elegant brand tonality,
        I chose a very simple color palette. The design is soft, classy and aesthetic
        to best represent the website and its high-end products.
      </p>
    </div>
  </div>

  <div class="moodboard-unchienenville">
    <div class="moodboard-unchienenville-img">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690807/portfolio/un%20chien%20en%20ville/mood-board-unchienenville_nqvs5h.png">
    </div>
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>Re<span class="under-line-subtitle">sear</span>ch</h1>
      <p>Product vision, user persona, impact map, user journey, product roadmap.
      Every tool helped a lot to make the website as optimal as possible for users.</p>
    </div>
  </div>

  <div class="research-unchienenville">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690772/portfolio/un%20chien%20en%20ville/product-vision-unchienenville_aiop4i.png">
  </div>

  <div class="research-unchienenville">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690790/portfolio/un%20chien%20en%20ville/user-persona-unchienenville_tgfkkj.png">
  </div>

  <div class="research-unchienenville">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690772/portfolio/un%20chien%20en%20ville/impact-map-unchienenville_s1sgvf.png">
  </div>

  <div class="research-unchienenville">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690763/portfolio/un%20chien%20en%20ville/user-journey-unchienenville_wl2qie.png">
  </div>

  <div class="research-unchienenville">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690770/portfolio/un%20chien%20en%20ville/product-roadmap-unchienenville_iv5yeo.png">
  </div>

  <div class="project-subtitle">
    <div class="project-subtitle-text">
      <h1>In<span class="under-line-subtitle">terfa</span>ce</h1>
      <p>The project was carried out in two sprints.
        I firstly redesigned all the website and its basic features,
        making it clear, easy to use and attractive with a new visual identity,
        simple and aesthetic.
        Then, I wanted to improve the user experience through customization, suggestions,
        communication and e-reputation</p>
    </div>
  </div>

  <div class="proto">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691070/portfolio/un%20chien%20en%20ville/home-page-unchienenville_ww9mfk.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691096/portfolio/un%20chien%20en%20ville/product-listing-page-unchienenville_mp1ftq.png">
    <img src="https://res.cloudinary.com/lololegall/image/upload/v1599691116/portfolio/un%20chien%20en%20ville/product-page-unchienenville_tjxxe4.png">
    <div class="popup">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690891/portfolio/un%20chien%20en%20ville/offer-as-a-gift-pop-up-unchienenville_mivxl7.png">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599690911/portfolio/un%20chien%20en%20ville/added-to-your-cart-pop-up-unchienenville_ia7clh.png">
    </div>
  </div>

</div>

<%= render 'components/footer' %>
