<%= render 'components/navbar' %>

<div class="whatido-page">
  <div class="whatido-part-intro whatido-intro fade-in-bottom">
    <div class="whaticando">
      <center>
        <h1>Create <span class="and">online</span> impact.</h1>
      </center>
    </div>
    <div class="inconbtn">
      <div class="mkt">
        <div class="whatido-icon">
          <center>
            <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683286/portfolio/digital_w1wigw.png" width="40%">
          </center>
        </div>
        <center>
          <a href="#digitalmarketing">
            <button class="btn btn-whatido btn-dev">DIGITAL MARKETING</button>
          </a>
        </center>
      </div>

      <div class="ux">
        <div class="whatido-icon">
          <center>
            <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683319/portfolio/webdesign_j0xx2u.png" width="40%">
          </center>
        </div>
        <center>
          <a href="#uxuidesign">
            <button class="btn btn-whatido btn-dev">UX UI DESIGN</button>
          </a>
        </center>
      </div>

      <div class="dev">
        <div class="whatido-icon">
          <center>
            <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683282/portfolio/code_xtyo0g.png" width="40%">
          </center>
        </div>
        <center>
          <a href="#webdevelopment">
            <button class="btn btn-whatido btn-dev">WEB DEVELOPMENT</button>
          </a>
        </center>
      </div>
    </div>
    <div class="whatido-arrow">
      <center>
        <a href="#digitalmarketing">
          <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683280/portfolio/arrow_l655s7.png">
        </a>
      </center>
    </div>
  </div>

  <div id="digitalmarketing">
    <div class="whatido-part whatido-mkt">
      <div class="whatido-top">
        <div class="whatido-left">
          <h1>Digital Marketing</h1>
        </div>
        <div class="whatido-right">
          <h2>Digital Strategy</h2>
          <h2>Search Engine Marketing</h2>
          <h2>Social Media & Community Management</h2>
          <h2>Influencer Marketing</h2>
          <h2>Content Marketing</h2>
        </div>
      </div>
      <div class="whatido-bottom">
        <div class="whatido-left">
          <h1>+ Project & Team Management</h1>
          <h1>Communication & Press Relations</h1>
          <h1>Events & Sponsorship</h1>
          <h1>Merchandising & Sales Techniques</h1>
        </div>
        <div class="whatido-right">
          <h1>Marketing tools</h1>
          <h1>GOOGLE ADS / GOOGLE ANALYTICS / PACK OFFICE</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="uxuidesign">
    <div class="whatido-part whatido-ux">
      <div class="whatido-top">
        <div class="whatido-left">
          <h1>UX UI Design</h1>
        </div>
        <div class="whatido-right">
          <h2>User Experience Design</h2>
          <h2>User Interface Design</h2>
          <h2>User Experience Research</h2>
          <h2>Brand Identity</h2>
        </div>
      </div>
      <div class="whatido-bottom">
        <div class="whatido-left">
          <h1>Things I enjoy designing</h1>
          <h1>UX / UI / Web / Mobile / Apps / Logos</h1>
        </div>
        <div class="whatido-right">
          <h1>Design tools</h1>
          <h1>ADOBE XD / FIGMA / PHOTOSHOP</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="webdevelopment">
    <div class="whatido-part whatido-dev">
      <div class="whatido-top">
        <div class="whatido-left">
          <h1>Web Development</h1>
        </div>
        <div class="whatido-right">
          <h2>Front End Integration</h2>
          <h2>Back End Programmation</h2>
        </div>
      </div>
      <div class="whatido-bottom">
        <div class="whatido-left">
          <h1>Languages I speak</h1>
          <h1>HTML5 / CSS / RUBY</h1>
        </div>
        <div class="whatido-right">
          <h1>Dev tools</h1>
          <h1>RAILS / GIT / GITHUB / BOOTSTRAP / HEROKU / WORDPRESS</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="whatido-part whatido-method">
    <div class="whatido-top">
      <div class="whatido-left">
        <h1>Methods</h1>
      </div>
      <div class="whatido-right">
        <h2>User Focused</h2>
        <h2>Design Thinking</h2>
        <h2>Agile Method</h2>
      </div>
    </div>
  </div>
</div>

<%= render 'components/footerblack' %>
