@font-face {
  font-family: "Butler";
  src: url('fonts/butler/Butler_Black.otf');
}

@font-face {
  font-family: "clemente";
  src: url('fonts/clemente_pd/ClementePDaj-RegularItalic.ttf');
  font-style: italic;
}

